<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <system.serviceModel>
     <services>
       <service name="Labo.ServiceModel.IntegrationTests.Services.TestService">
         <host>
           <baseAddresses>
             <add baseAddress="http://localhost:8088/TestService"/>
           </baseAddresses>
         </host>
        <endpoint name="basichttp" address="http://localhost:8088/TestService" binding="basicHttpBinding" contract="Labo.ServiceModel.IntegrationTests.Services.ITestService" />
        <endpoint name="wshttp" address="http://localhost:8090/TestService" binding="wsHttpBinding" bindingConfiguration="WsHttpBinding" contract="Labo.ServiceModel.IntegrationTests.Services.ITestService" />
         <endpoint name="webhttp" address="http://localhost:8092/TestService" binding="webHttpBinding" bindingConfiguration="WebHttpBinding" contract="Labo.ServiceModel.IntegrationTests.Services.ITestService" />
       </service>
     <service name="Labo.ServiceModel.IntegrationTests.Services.TestService1">
       <host>
         <baseAddresses>
           <add baseAddress="http://localhost:8088/TestService1"/>
         </baseAddresses>
       </host>
       <endpoint name="basichttp" address="http://localhost:8088/TestService1" binding="basicHttpBinding" contract="Labo.ServiceModel.IntegrationTests.Services.ITestService1" />
       <endpoint name="wshttp" address="http://localhost:8090/TestService1" binding="wsHttpBinding" bindingConfiguration="WsHttpBinding" contract="Labo.ServiceModel.IntegrationTests.Services.ITestService1" />
       <endpoint name="webhttp" address="http://localhost:8092/TestService1" binding="webHttpBinding" bindingConfiguration="WebHttpBinding" contract="Labo.ServiceModel.IntegrationTests.Services.ITestService1" />
     </service>
     </services>
     <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding" sendTimeout="00:05:00" />
      </basicHttpBinding>
       <wsHttpBinding>
         <binding name="WsHttpBinding" sendTimeout="00:05:00" />
       </wsHttpBinding>
       <webHttpBinding>
         <binding name="WebHttpBinding" sendTimeout="00:05:00" />
       </webHttpBinding>
    </bindings>
    <client>
      <endpoint name="TestServiceBasicHttpBinding" address="http://localhost:8088/TestService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding" contract="Labo.ServiceModel.IntegrationTests.Services.ITestService" />
      <endpoint name="TestServiceWsHttpBinding" address="http://localhost:8090/TestService" binding="wsHttpBinding" bindingConfiguration="WsHttpBinding" contract="Labo.ServiceModel.IntegrationTests.Services.ITestService" />
      <endpoint name="TestServiceWebHttpBinding" address="http://localhost:8092/TestService" binding="webHttpBinding" bindingConfiguration="WebHttpBinding" contract="Labo.ServiceModel.IntegrationTests.Services.ITestService" />

      <endpoint name="TestService1BasicHttpBinding" address="http://localhost:8088/TestService1" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding" contract="Labo.ServiceModel.IntegrationTests.Services.ITestService1" />
      <endpoint name="TestService1WsHttpBinding" address="http://localhost:8090/TestService1" binding="wsHttpBinding" bindingConfiguration="WsHttpBinding" contract="Labo.ServiceModel.IntegrationTests.Services.ITestService1" />
      <endpoint name="TestService1WebHttpBinding" address="http://localhost:8092/TestService1" binding="webHttpBinding" bindingConfiguration="WebHttpBinding" contract="Labo.ServiceModel.IntegrationTests.Services.ITestService1" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>